h1, h3 {
    text-align: center;
    font-size: 36px;
}

.unordered, .ordered {
    text-align: center;
}

.unordered > ul, .ordered > ol {
    display: inline-block;
    margin: 0;
}

.links {
    font-size: 24px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: bisque;
}

.bowl, .lasagna, .macaroni{
    display: block;
    margin-left: auto;
    margin-right: auto;
}